// Pico lightweight version
@use "pico" with (
  $enable-semantic-container: true,
  $semantic-root-element: "#app",
   $theme-color: "purple",
  $enable-classes: false,
  $modules: (
    "content/code": false,
    "forms/input-color": false,
    "forms/input-date": false,
    "forms/input-file": false,
    "forms/input-range": false,
    "forms/input-search": false,
    "components/accordion": false,
    "components/card": true,
    "components/dropdown": false,
    "components/loading": false,
    "components/modal": false,
    "components/nav": true,
    "components/progress": false,
    "components/tooltip": false,
    "utilities/accessibility": false,
    "utilities/reduce-motion": false
  )
);
@use "colors/utilities" with (
  $palette: (
    "color-families": (
      purple,
      slate
    ),
  ),
  //$utilities: (
//    "background-colors": false,
 // )
);
